  .buttonStyle {
    background-color: rgb(216, 21, 21);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 0px;
  }

  .headerStyle{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      justify-content: space-between;
      align-items: flex-start;
  }

  .cardStyle{
    border: 1px solid rgb(110, 110, 110);
    background-color: rgba(0, 0, 0, 0.438);
    color: beige;
    width: 300px;
    height: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cityStyle{
      justify-self: flex-start;
  }

  .tempIcon{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }